<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.google.com" class="navbar-brand">
        Google!</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="clientauthService.isUserLoggedIn()" routerLink="/compareCompanies" class="nav-link">Compare Companies</a></li>
            <li><a *ngIf="clientauthService.isUserLoggedIn()" routerLink="/compareSectors" class="nav-link">Compare Sectors</a></li>
            <li><a *ngIf="clientauthService.isUserLoggedIn()" routerLink="/listIpos" class="nav-link">IPOs</a></li>
            
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="clientauthService.isUserLoggedIn()" routerLink="/clientlogout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>

<br><br>