<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a href="https://www.google.com" class="navbar-brand">
        Google!</a></div>

        <ul class="navbar-nav">
            <li><a *ngIf="adminauthService.isUserLoggedIn()" routerLink="/companies" class="nav-link">Manage Companies</a></li>
            <li><a *ngIf="adminauthService.isUserLoggedIn()" routerLink="/ipos" class="nav-link">Update IPOs</a></li>
            <li><a *ngIf="adminauthService.isUserLoggedIn()" routerLink="/upload" class="nav-link">Upload Data</a></li>
            <li><a *ngIf="adminauthService.isUserLoggedIn()" routerLink="/exchanges" class="nav-link">Manage Exchanges</a></li>
            
        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a *ngIf="!adminauthService.isUserLoggedIn()" routerLink="/adminlogin" class="nav-link">Login</a></li>
            <li><a *ngIf="adminauthService.isUserLoggedIn()" routerLink="/adminlogout" class="nav-link">Logout</a></li>
        </ul>

    </nav>
</header>

<br><br>